<!DOCTYPE html>
<html>
  <head>
    <title>YouTube</title>
    <link rel="shortcut icon" href="./icons/youtube.png" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./Style/Youtube-style.css" />
    <link rel="stylesheet" href="./Style/common.css" />
    <link rel="stylesheet" href="./Style/header.css" />
    <link rel="stylesheet" href="./Style/sideber.css" />
  </head>

  <body>
    <!-- Header starts -->
    <div class="header">
      <div class="left-area">
        <img class="hambur-icon" src="./icons/hamburger-menu.svg" alt="" />
        <img class="youtube-logo" src="./icons/youtube-logo.svg" alt="" />
      </div>
      <div class="midle-area">
        <input class="searchbar" type="text" placeholder="Search" />
        <button class="search-icon">
          <img class="searchicon" src="./icons/search.svg" />
        </button>
        <button class="voice-icon">
          <img class="voiceicon" src=".//icons/voice-search-icon.svg" alt="" />
        </button>
      </div>
      <div class="right-area">
        <img class="upload-icon" src="./icons/upload.svg" alt="" />
        <img class="apps-icon" src="./icons/youtube-apps.svg" alt="" />
        <div class="nofication">
          <div class="not-count">5</div>
          <img class="notifi-icon" src="./icons/notifications.svg" alt="" />
        </div>
        <img
          class="profile-icon"
          src="./profile pic/channels4_profile1.jpg"
          alt=""
        />
      </div>
    </div>
    <!-- Header end -->

    <!-- side bar start -->
    <div class="sidebar">
      <div class="side-icons">
        <img src="./icons/sidebar/home.svg" alt="" />
        <div>Home</div>
      </div>
      <div class="side-icons">
        <img src="./icons/sidebar/explore.svg" alt="" />
        <div>Explore</div>
      </div>
      <div class="side-icons">
        <img src="./icons/sidebar/subscriptions.svg" alt="" />
        <div>Suscription</div>
      </div>
      <div class="side-icons">
        <img src="./icons/sidebar/originals.svg" alt="" />
        <div>Originals</div>
      </div>
      <div class="side-icons">
        <img src="./icons/sidebar/youtube-music.svg" alt="" />
        <div>Youtube Music</div>
      </div>
      <div class="side-icons">
        <img src="./icons/sidebar/library.svg" alt="" />
        <div>Library</div>
      </div>
    </div>

    <!-- sideber end -->

    <!-- suject in body -->

    <div class="sujections">
      <button class="tag1" style="background-color: black; color: white">
        All
      </button>
      <button class="tag1">News</button>
      <button class="tag1">Outer Space</button>
      <button class="tag1">HTML</button>
      <button class="tag1">Music</button>
      <button class="tag1">All</button>
      <button class="tag1">News</button>
      <button class="tag1">Outer Space</button>
      <button class="tag1">HTML</button>
      <button class="tag1">Music</button>
      <button class="tag1">HTML</button>
      <button class="tag1">Music</button>
      <button class="tag1">News</button>
      <button class="tag1">Outer Space</button>
      <button class="tag1">HTML</button>
      <button class="tag1">Music</button>
      <button class="tag1">Music</button>
      <button class="tag1">Outer Space</button>
    </div>
    <!-- ends -->

    <!-- video contents with grid using -->

    <div class="video-grid">
      <div class="videocard">
        <div class="thumbs">
          <div class="timeline">13:15</div>
          <a href="https://www.youtube.com/watch?v=G3e-cpL7ofc&t=17974s">
            <img class="thumnail" src="./Thumpnails/a1.webp" />
          </a>
        </div>
        <div class="togrid">
          <div class="pro-pic">
            <img class="profile" src="./profile pic/a1.jpg" />
          </div>
          <div class="video-info">
            <div class="videotile">
              <p class="videotiles">
                CHAI with Tech | iPhone 16, S24 Series, OnePlus 12 Etc. | ( 248
                ) 5\12\2023
              </p>
            </div>
            <div class="creators"><p class="creator">Super Simpledev</p></div>
            <div class="view">
              <p class="views">88,673 views &#183; 2hours ago</p>
            </div>
          </div>
        </div>
      </div>

      <div class="videocard">
        <div class="thumbs">
          <div class="timeline">11:15</div>
          <a href="https://www.youtube.com/watch?v=-UGj7vqygVg">
            <img class="thumnail" src="./Thumpnails/b1.webp"
          /></a>
        </div>
        <div class="togrid">
          <div class="pro-pic">
            <img class="profile" src="./profile pic/b2.jpg" />
          </div>
          <div class="video-info">
            <div class="videotile">
              <p class="videotiles">
                Indian eccononic system new episod + Show | EP# 5, 6
              </p>
            </div>
            <div class="creators"><p class="creator">Reeload meadia</p></div>
            <div class="view">
              <p class="views">673 views &#183; 2mins ago</p>
            </div>
          </div>
        </div>
      </div>

      <div class="videocard">
        <div class="thumbs">
          <div class="timeline">07:15</div>
          <a href="https://www.youtube.com/watch?v=mleJz6MphCQ">
            <img class="thumnail" src="./Thumpnails/c1.webp"
          /></a>
        </div>
        <div class="togrid">
          <div class="pro-pic">
            <img class="profile" src="./profile pic/c2.jpg" />
          </div>
          <div class="video-info">
            <div class="videotile">
              <p class="videotiles">
                Flowers Top Singer 4 | Musical Reality + Show | EP# 5, 6
              </p>
            </div>
            <div class="creators"><p class="creator">Arun Talks</p></div>
            <div class="view">
              <p class="views">7,673 views &#183; 7hours ago</p>
            </div>
          </div>
        </div>
      </div>

      <div class="videocard">
        <div class="thumbs">
          <div class="timeline">18:10</div>
          <a href="https://www.youtube.com/watch?v=kB_q8Cs9uck">
            <img class="thumnail" src="./Thumpnails/d1.webp"
          /></a>
        </div>
        <div class="togrid">
          <div class="pro-pic">
            <img class="profile" src="./profile pic/d1.jpg" />
          </div>
          <div class="video-info">
            <div class="videotile">
              <p class="videotiles">
                Enroll to get a Certificate of Completion and an elevated
                learning experience
              </p>
            </div>
            <div class="creators"><p class="creator">Boombang</p></div>
            <div class="view">
              <p class="views">1m views &#183; 1 day ago</p>
            </div>
          </div>
        </div>
      </div>

      <div class="videocard">
        <div class="thumbs">
          <div class="timeline">13:15</div>
          <img class="thumnail" src="./Thumpnails/e1.webp" />
        </div>
        <div class="togrid">
          <div class="pro-pic">
            <img class="profile" src="./profile pic/e1.jpg" />
          </div>
          <div class="video-info">
            <div class="videotile">
              <p class="videotiles">
                Flowers Top Singer 4 | Musical Reality + Show | EP# 5, 6
              </p>
            </div>
            <div class="creators"><p class="creator">Tech Talks</p></div>
            <div class="view">
              <p class="views">88,673 views &#183; 1hours ago</p>
            </div>
          </div>
        </div>
      </div>

      <div class="videocard">
        <div class="thumbs">
          <div class="timeline">02:15</div>
          <img class="thumnail" src="./profile pic/f1.webp" />
        </div>
        <div class="togrid">
          <div class="pro-pic">
            <img class="profile" src="./profile pic/f1.jpg" />
          </div>
          <div class="video-info">
            <div class="videotile">
              <p class="videotiles">
                Dubai's Crazy Underwater Train and Other Things #Only in Dubai
              </p>
            </div>
            <div class="creators"><p class="creator">Spacex</p></div>
            <div class="view">
              <p class="views">8m views &#183; 1year ago</p>
            </div>
          </div>
        </div>
      </div>

      <div class="videocard">
        <div class="thumbs">
          <div class="timeline">10:15</div>
          <img class="thumnail" src="./Thumpnails/g1.webp" />
        </div>
        <div class="togrid">
          <div class="pro-pic">
            <img class="profile" src="./profile pic/g1.jpg" />
          </div>
          <div class="video-info">
            <div class="videotile">
              <p class="videotiles">The SECRET to Super Human STRENGTH</p>
            </div>
            <div class="creators"><p class="creator">Got series</p></div>
            <div class="view">
              <p class="views">98,673 views &#183; 24hours ago</p>
            </div>
          </div>
        </div>
      </div>

      <div class="videocard">
        <div class="thumbs">
          <div class="timeline">14:15</div>
          <img class="thumnail" src="./Thumpnails/hq720 (1).webp" />
        </div>
        <div class="togrid">
          <div class="pro-pic">
            <img
              class="profile"
              src="./profile pic/channels4_profile (1).jpg"
            />
          </div>
          <div class="video-info">
            <div class="videotile">
              <p class="videotiles">
                How The World's Largest Cruise Ship Makes 30,000 Meals Every
              </p>
            </div>
            <div class="creators"><p class="creator">Top Singer</p></div>
            <div class="view">
              <p class="views">88,673 views &#183; 2hours ago</p>
            </div>
          </div>
        </div>
      </div>

      <div class="videocard">
        <div class="thumbs">
          <div class="timeline">22:10</div>
          <img class="thumnail" src="./Thumpnails/hq720 (2).webp" />
        </div>
        <div class="togrid">
          <div class="pro-pic">
            <img
              class="profile"
              src="./profile pic/channels4_profile (2).jpg"
            />
          </div>
          <div class="video-info">
            <div class="videotile">
              <p class="videotiles">
                Inside The World's Biggest Passenger Plane | New One
              </p>
            </div>
            <div class="creators"><p class="creator">Brototype</p></div>
            <div class="view">
              <p class="views">8,673 views &#183; 3hours ago</p>
            </div>
          </div>
        </div>
      </div>

      <div class="videocard">
        <div class="thumbs">
          <div class="timeline">14:15</div>
          <img class="thumnail" src="./Thumpnails/hq720 (3).webp" />
        </div>
        <div class="togrid">
          <div class="pro-pic">
            <img class="profile" src="./profile pic/channels4_profile.jpg" />
          </div>
          <div class="video-info">
            <div class="videotile">
              <p class="videotiles">
                The Simplest Math Problem No One Can Solve - Collatz....
              </p>
            </div>
            <div class="creators"><p class="creator">Top Singer</p></div>
            <div class="view">
              <p class="views">88,673 views &#183; 2hours ago</p>
            </div>
          </div>
        </div>
      </div>

      <div class="videocard">
        <div class="thumbs">
          <div class="timeline">14:15</div>
          <img class="thumnail" src="./Thumpnails/hq720 (4).webp" />
        </div>
        <div class="togrid">
          <div class="pro-pic">
            <img
              class="profile"
              src="./profile pic/channels4_profile (2).jpg"
            />
          </div>
          <div class="video-info">
            <div class="videotile">
              <p class="videotiles">
                Crazy Tik Toks Taken Moments Before DISASTER| wow
              </p>
            </div>
            <div class="creators"><p class="creator">Top Singer</p></div>
            <div class="view">
              <p class="views">12M views &#183; 2hours ago</p>
            </div>
          </div>
        </div>
      </div>

      <div class="videocard">
        <div class="thumbs">
          <div class="timeline">20:00</div>
          <img class="thumnail" src="./Thumpnails/hq720 (5).webp" />
        </div>
        <div class="togrid">
          <div class="pro-pic">
            <img class="profile" src="./profile pic/channels4_profile1.jpg" />
          </div>
          <div class="video-info">
            <div class="videotile">
              <p class="videotiles">Try Not To Laugh Challenge #9 | EP# 5, 6</p>
            </div>
            <div class="creators"><p class="creator">Top Singer</p></div>
            <div class="view">
              <p class="views">88,673 views &#183; 2hours ago</p>

            </div>
          </div>
        </div>
      </div>

    </div>

    <!-- video card ends -->
  </body>
</html>
